{% extends "layout.html" %}
{% block body %}

<!--=============================================
=            breadcrumb area         =
=============================================-->

<div class="breadcrumb-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-container">
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->


<!--=============================================
=            About Us page content         =
=============================================-->

<h3 class="myStyle">About Us</h3>

<p class="myStyle2">
    Intelli Supermart is an online super market which aims at saving users from the hassle of going
    out and buying every day necessities. The online store brings to you different categories
    such as biscuits and chocolates, breakfast & dairy, grocery and staples, beverages, baby & kids and pet care.
    You can choose from thousands of products. Intelli Supermart is currently delivering in Karachi only.</p>

<p class="myStyle2">Intelli Supermart aims to evolve the grocery service industry in Pakistan and we aim to target the people
    who lead a busy lifestyle to shift them from the traditional method of grocery procurement to a more advance
    online mode. We will ensure a hassle-free shopping experience for our customers, so that they can spend valuable
    time and energy somewhere else.</p>

<p class="myStyle2">Intelli Supermart aims to be a very customer centric organization. We intend to focus on complete
    customer journey of our customers, starting with ordering quality products at competitive pricing, on
    time delivery and hassle-free return policy.</p>
<br><br>

<!--=====  End of About Us page content  ======-->

{% endblock %}