{% extends "layout.html" %}
{% block body %}
<!--=============================================
=            breadcrumb area         =
=============================================-->

<div class="breadcrumb-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-container">
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="active">Careers</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->


<!--=============================================
=            Careers page content         =
=============================================-->
<h3 class="myStyle">Careers</h3>

<p class="myStyle2">Join our hands, bring in your excellence and assist us in this journey of adding
    value, share your resume at career@intellisupermart.com</p>
<br><br>


<!--=====  End of Careers page content  ======-->

{% endblock %}