{% extends "layout.html" %}
{% block body %}
<!--=============================================
=            breadcrumb area         =
=============================================-->

<div class="breadcrumb-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-container">
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="active">Cart ({{count}})</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->


<!--=============================================
=            Cart page content         =
=============================================-->


<div class="page-section section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--=======  cart table  =======-->
                <div class="cart-table table-responsive mb-40">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="pro-thumbnail">Image</th>
                            <th class="pro-title">Product</th>
                            <th class="pro-price">Price</th>
                            <th class="pro-quantity">Quantity</th>
                            <th class="pro-subtotal">Total</th>
                            <th class="pro-remove">Update</th>
                            <th class="pro-remove">Remove</th>
                        </tr>
                        </thead>
                        {% for product in products %}
                        {% for subcat in subcategories %}
                        {% if product.prod_subcategory_id == subcat.subcategory_id %}
                        {% for cat in categories %}
                        {% if subcat.category_id == cat.category_id %}
                        {% for picture in pictures %}
                        {% if(product.picture_id == picture.picture_id) %}
                        {% set url = 'images/products/' + cat.category_name+ '/' + picture.picture_url %}
                        {% set quantity=quantities.pop() %}
                        {% set totalAmount=total.pop() %}
                        <tbody>
                        <tr>
                            <td class="pro-thumbnail"><a href="/product-details/{{product.slug}}"><img alt="Product" class="img-fluid"
                                                                       src="{{url_for('static', filename=url)}}"></a>
                            </td>
                            <td class="pro-title"><a href="/product-details/{{product.slug}}">{{product.product_name}} {{product.product_quantity}}</a></td>
                            <td class="pro-price"><span>Rs {{product.product_price}}</span></td>

                            <td class="pro-quantity">
                                <div class="pro-qty"><input name="quantity{{product.product_id}}"
                                                            min="1" type="number" value="{{quantity}}"></div>
                            </td>
                            <td class="pro-subtotal"><span id="hello" class="total{{product.product_id}}">Rs {{totalAmount}}</span></td>
                            <td class="pro-update">
                                <a class="updateInCartButton" name="{{product.product_id}}"><i class="fa fa-refresh"></i></a>
                            </td>
                            <td class="pro-remove">
                                <a class="deleteFromCartButton" name="{{product.product_id}}"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        </tbody>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </table>
                </div>

                <!--=======  End of cart table  =======-->

                <div class="row">

                    <div class="col-lg-6 col-12">

                        <!--=======  Discount Coupon  =======-->

                        <div class="discount-coupon">
                            <h4>Discount Coupon Code</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <input placeholder="Coupon Code" type="text">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="submit" value="Apply Code">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!--=======  End of Discount Coupon  =======-->

                    </div>


                    <div class="col-lg-6 col-12 d-flex">
                        <!--=======  Cart summery  =======-->

                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Cart Summary</h4>
                                <p>Sub Total <span class="grand_total">Rs {{grand_total}}</span></p>
                                <p>Shipping Cost <span>Rs 0</span></p>
                                <h2>Grand Total <span class="grand_total">Rs {{grand_total}}</span></h2>
                            </div>
                            <div class="cart-summary-button">
                                <button class="checkout-btn"><a href="/checkout">Checkout</a></button>
                            </div>
                        </div>

                        <!--=======  End of Cart summery  =======-->

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<!--=====  End of Cart page content  ======-->

{% endblock %}