{% extends "layout.html" %}
{% block body %}

<!--=============================================
=            breadcrumb area         =
=============================================-->

<div class="breadcrumb-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-container">
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="active">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->

<!--=============================================
=            Checkout page content         =
=============================================-->

<div class="page-section section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Checkout Form s-->
                <div class="checkout-form">
                    <div class="row row-40">

                        <div class="col-lg-7 mb-20">

                            <!-- Billing Address -->
                            <div class="mb-40" id="billing-form">
                                <h4 class="checkout-title">Billing Address</h4>

                                <div class="row">

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>First Name<span class="required">*</span></label>
                                        <input id="firstName" value="{{info.first_name}}" placeholder="First Name" type="text"
                                        required>
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Last Name<span class="required">*</span></label>
                                        <input id="lastName" value="{{info.last_name}}" placeholder="Last Name" type="text"
                                        required>
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Email Address<span class="required">*</span></label>
                                        <input id="email" value="{{info.email}}" placeholder="Email Address" type="email"
                                        required>
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Gender<span class="required">*</span></label>
                                        <input id="gender" value="{{info.gender}}" placeholder="M/F" type="text" required>
                                    </div>

                                    <div class="col-12 mb-20">
                                        <label>Address<span class="required">*</span></label>
                                        <input id="address" value="{{info.address}}" placeholder="Address line 1" type="text"
                                        required>
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>City<span class="required">*</span></label>
                                        <input id="city" placeholder="Lahore" value="Lahore" type="text" required>
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Zip Code<span class="required">*</span></label>
                                        <input id="zipCode" value="{{info.zipcode}}" placeholder="Zip Code" type="text" required>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="col-lg-5">
                            <div class="row">

                                <!-- Cart Total -->
                                <div class="col-12 mb-60">

                                    <h4 class="checkout-title">Cart Total</h4>

                                    <div class="checkout-cart-total">

                                        <h4>Product <span>Total</span></h4>

                                        <ul>
                                            {% for product in products %}
                                            {% set quantity=quantities.pop() %}
                                            {% set totalAmount=total.pop() %}
                                            <li>{{product.product_name}} {{product.product_quantity}} X {{quantity}}
                                                <span>Rs {{totalAmount}}</span></li>
                                            {% endfor %}
                                        </ul>

                                        <p>Sub Total <span>Rs {{grand_total}}</span></p>
                                        <p>Shipping Fee <span>Rs 0</span></p>
                                        <input id="grandTotal" value="{{grand_total}}" type="hidden">
                                        <h4>Grand Total <span>Rs {{grand_total}}</span></h4>

                                    </div>

                                </div>

                                <!-- Payment Method -->
                                <div class="col-12">

                                    <h4 class="checkout-title">Payment Method<span class="required">*</span></h4>

                                    <div class="checkout-payment-method">

                                        <div class="single-method">
                                            <input id="payment_check" name="payment-method" type="radio" value="check"
                                                   required>
                                            <label for="payment_check">Cash on Delivery</label>
                                        </div>

                                    </div>

                                    <button id="placeOrderButton" class="place-order" type="submit">Place order</button>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--=====  End of Checkout page content  ======-->

{% endblock %}