{% extends "layout.html" %}
{% block body %}
<!--=============================================
=            breadcrumb area         =
=============================================-->

<div class="breadcrumb-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-container">
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="active">Compare</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->

<!--=============================================
=            compare page content         =
=============================================-->

<div class="page-section section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">

                    <!-- Compare Table -->
                    <div class="compare-table table-responsive">
                        <table class="table mb-0">
                            <tbody>
                            <tr>
                                <td class="first-column">Product</td>
                                <td class="product-image-title">
                                    <a href="#" class="image"><img src="{{url_for('static', filename = 'images/products/Fruits & Vegetables/salad_patta.jpg')}}"
                                                                   class="img-fluid" alt="Compare Product"></a>
                                    <a href="#" class="category">Vegetable</a>
                                    <a href="#" class="title">Lettuce</a>
                                </td>
                                <td class="product-image-title">
                                    <a href="#" class="image"><img src="{{url_for('static', filename = 'images/products/Fruits & Vegetables/ladyfinger.jpg')}}"
                                                                   class="img-fluid" alt="Compare Product"></a>
                                    <a href="#" class="category">Vegetable</a>
                                    <a href="#" class="title">Lady Finger</a>
                                </td>
                                <td class="product-image-title">
                                    <a href="#" class="image"><img src="{{url_for('static', filename = 'images/products/Fruits & Vegetables/fenu_methi.jpg')}}"
                                                                   class="img-fluid" alt="Compare Product"></a>
                                    <a href="#" class="category">Frozen</a>
                                    <a href="#" class="title">Methi - Frozen</a>
                                </td>
                            </tr>
                           
                            <tr>
                                <td class="first-column">Price</td>
                                <td class="pro-price">Rs 70</td>
                                <td class="pro-price">Rs 150</td>
                                <td class="pro-price">Rs 130</td>
                            </tr>
                           
                            <tr>
                                <td class="first-column">Stock</td>
                                <td class="pro-stock">In Stock</td>
                                <td class="pro-stock">In Stock</td>
                                <td class="pro-stock">In Stock</td>
                            </tr>
                            <tr>
                                <td class="first-column">Add to cart</td>
                                <td class="pro-addtocart"><a href="#" class="add-to-cart" tabindex="0"><i
                                        class="fa fa-shopping-cart"></i><span>ADD TO CART</span></a></td>
                                <td class="pro-addtocart"><a href="#" class="add-to-cart" tabindex="0"><span><i
                                        class="fa fa-shopping-cart"></i> ADD TO CART</span></a></td>
                                <td class="pro-addtocart"><a href="#" class="add-to-cart" tabindex="0"><span><i
                                        class="fa fa-shopping-cart"></i> ADD TO CART</span></a></td>
                            </tr>
                            <tr>
                                <td class="first-column">Delete</td>
                                <td class="pro-remove">
                                    <button><i class="fa fa-trash-o"></i></button>
                                </td>
                                <td class="pro-remove">
                                    <button><i class="fa fa-trash-o"></i></button>
                                </td>
                                <td class="pro-remove">
                                    <button><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td class="first-column">Rating</td>
                                <td class="pro-ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </td>
                                <td class="pro-ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </td>
                                <td class="pro-ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<!--=====  End of compare page content  ======-->

{% endblock %}