{% extends "layout.html" %}
{% block body %}
<!--=============================================
=            breadcrumb area         =
=============================================-->

<div class="breadcrumb-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-container">
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="active">Delivery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->


<!--=============================================
=            Careers page content         =
=============================================-->
<h3 class="myStyle">Delivery</h3>
<br>
<p class="myStyle2">We at Intelli Supermart deliver your order next day.
    <br><br>
    Delivery Slot: 10 AM - 10 PM
    <br><br>
    Free delivery on all orders over Rs. 1,000 while Rs 100 delivery charges apply on orders below Rs 1,000
    <br><br>
    Incase of excess orders, next day slot is removed</p>
<br><br>



<!--=====  End of Careers page content  ======-->
{% endblock %}