{% extends "layout.html" %}
{% block body %}

<!--=============================================
=            breadcrumb area         =
=============================================-->

<div class="breadcrumb-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-container">
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="active">How To Pay</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->


<!--=============================================
=            Careers page content         =
=============================================-->
<h3 class="myStyle">How To Pay</h3>
<br>
<p class="myStyle2">To pay Intelli Supermart, you can avail the Cash on Delivery method of payment</p>
<br><br>



<!--=====  End of Careers page content  ======-->

{% endblock %}