{% extends "layout.html" %}
{% block body %}
<!--=============================================
=            breadcrumb area         =
=============================================-->

<div class="breadcrumb-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-container">
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="active">How To Order</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->


<!--=============================================
=            Careers page content         =
=============================================-->
<h3 class="myStyle">How To Order</h3>
<br>
<p class="myStyle2">Placing an order is simple through these steps:</p>
<p class="myStyle2">• Add products in your shopping cart • Proceed to checkout • Provide contact details, delivery address, schedule of delivery and payment method.</p>
<br><br>



<!--=====  End of Careers page content  ======-->

{% endblock %}