<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>Home - Intelli Supermart</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Favicon -->
    <link href="{{url_for('static', filename = 'images/icons/icon.png')}}" rel="icon">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link href="{{url_for('static', filename = 'css/font-awesome.min.css')}}" rel="stylesheet">

    <!-- Elegent CSS -->
    <link href="{{url_for('static', filename = 'css/elegent.min.css')}}" rel="stylesheet">

    <!-- Plugins CSS -->
    <link href="{{url_for('static', filename = 'css/plugins.css')}}" rel="stylesheet">

    <!-- Helper CSS -->
    <link href="{{url_for('static', filename = 'css/helper.css')}}" rel="stylesheet">

    <!-- Main CSS -->
    <link href="{{url_for('static', filename = 'css/main.css')}}" rel="stylesheet">

    <!-- Modernizer JS -->
    <script src="{{url_for('static', filename = 'js/vendor/modernizr-2.8.3.min.js')}}"></script>

</head>

<body>

<!--=============================================
=            Header         =
=============================================-->

<header>
    <!--=======  header top  =======-->

    <div class="header-top pt-10 pb-10 pt-lg-10 pb-lg-10 pt-md-10 pb-md-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center text-sm-right">
                    <!-- header top menu -->
                    <div class="header-top-menu">
                        <ul>
                            <li>
                                <img alt="" height="20"
                                     src="{{url_for('static', filename = 'images/icons/contact-icon2.png')}}">
                                <span>+92-323-0496310</span>
                            </li>
                            <li><a href="/my-account">My account</a></li>
                            <li><a href="/wishlist">Wishlist</a></li>
                            <li><a href="/checkout">Checkout</a></li>
                            <li><a id="loginBtn">Login</a></li>
                        </ul>
                    </div>
                    <!-- end of header top menu -->
                </div>
            </div>
        </div>
    </div>

    <!--=======  End of header top  =======-->

    <!--=======  header bottom  =======-->

    <div class="header-bottom header-bottom-other header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12 text-lg-left text-md-center text-sm-center">
                    <!-- logo -->
                    <div class="logo">
                        <a href="/">
                            <img alt="" class="img-fluid" src="{{url_for('static', filename = 'images/icons/logo.png')}}">
                        </a>
                    </div>
                    <!-- end of logo -->
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="menubar-top d-flex justify-content-between align-items-center flex-sm-wrap flex-md-wrap flex-lg-nowrap mt-sm-15">
                        <!-- search bar -->
                        <div class="header-advance-search">
                            <form action="#">
                                <label>
                                    <input placeholder="Search your product" type="text">
                                </label>
                                <button><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <!-- end of search bar -->
                        <!-- shopping cart -->
                        <div class="shopping-cart" id="shopping-cart">
                            <a href="/cart">
                                <div class="cart-icon d-inline-block">
                                    <span class="icon_bag_alt"></span>
                                </div>
                                <div class="cart-info d-inline-block">
                                    <p>Shopping Cart
                                        <span>
												2 items - Rs 450
                                        </span>
                                    </p>
                                </div>
                            </a>
                            <!-- end of shopping cart -->

                            <!-- cart floating box -->
                            <div class="cart-floating-box" id="cart-floating-box">
                                <div class="cart-items">
                                    <div class="cart-float-single-item d-flex">
                                        <span class="remove-item"><a href="#"><i class="fa fa-times"></i></a></span>
                                        <div class="cart-float-single-item-image">
                                            <a href="/product-details"><img
                                                    alt="" class="img-fluid"
                                                    src="{{url_for('static', filename = 'images/products/Beverages/bb-450g.png')}}"></a>
                                        </div>
                                        <div class="cart-float-single-item-desc">
                                            <p class="product-title"><a href="/product-details">Supreme Tea</a></p>
                                            <p class="price"><span class="count">1x</span>Rs 250</p>
                                        </div>
                                    </div>
                                    <div class="cart-float-single-item d-flex">
                                        <span class="remove-item"><a href="#"><i class="fa fa-times"></i></a></span>
                                        <div class="cart-float-single-item-image">
                                            <a href="/product-details"><img
                                                    alt=""
                                                    class="img-fluid"
                                                    src="{{url_for('static', filename = 'images/products/Breakfast & Dairy/Nutella.jpg')}}"></a>
                                        </div>
                                        <div class="cart-float-single-item-desc">
                                            <p class="product-title"><a href="/product-details">Nutella</a></p>
                                            <p class="price"><span class="count">1x</span>Rs 200</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-calculation">
                                    <div class="calculation-details">
                                        <p class="total">Subtotal <span>Rs 450</span></p>
                                    </div>
                                    <div class="floating-cart-btn text-center">
                                        <a href="/checkout">Checkout</a>
                                        <a href="/cart">View Cart</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end of cart floating box -->
                        </div>
                    </div>

                    <!--=============================================
                    =            navigation menu         =
                    =============================================-->

                    <!-- navigation section -->
                    <div class="main-menu main-menu-other-homepage">
                        <nav>
                            <ul>
                                <li><a href="/">HOME</a></li>
                                <li><a href="/shop">Shop</a></li>
                                <li><a href="/contact-us">CONTACT</a></li>
                            </ul>
                        </nav>
                    </div>

                    <!-- end of navigation section -->

                    <!--=====  End of navigation menu  ======-->

                </div>
                <div class="col-12">
                    <!-- Mobile Menu -->
                    <div class="mobile-menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>

        <!--=============================================
        =            navigation menu         =
        =============================================-->

        <div class="home-other-navigation-menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- navigation section -->
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li><a href="/">HOME</a></li>
                                    <li><a href="/shop">Shop</a></li>
                                    <li><a href="/contact-us">CONTACT</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- end of navigation section -->
                    </div>
                </div>
            </div>
        </div>

        <!--=====  End of navigation menu  ======-->


    </div>

    <!--=======  End of header bottom  =======-->


</header>

<!--=====  End of Header  ======-->

<!--=============================================
=            Hero slider Area         =
=============================================-->

<div class="hero-slider-container mb-35">
    <!--=======  Slider area  =======-->

    <div class="hero-slider-one">
        <!--=======  hero slider item  =======-->

        <div class="hero-slider-item slider-bg-7">
            <div class="slider-content d-flex flex-column justify-content-center align-items-center">
                <h1>Intelli Supermart</h1>
                <p>get your favourite product in your prices</p>
                <a class="slider-btn" href="/shop">SHOP NOW</a>
            </div>
        </div>

        <!--=======  End of hero slider item  =======-->


        <!--=======  Hero slider item  =======-->

        <div class="hero-slider-item slider-bg-8">
            <div class="slider-content d-flex flex-column justify-content-center align-items-center">
                <h1>Fresh & Pure</h1>
                <p>where shopping is like pleasure </p>
                <a class="slider-btn" href="/shop">SHOP NOW</a>
            </div>
        </div>

        <!--=======  End of Hero slider item  =======-->

    </div>

    <!--=======  End of Slider area  =======-->

</div>

<!--=====  End of Hero slider Area  ======-->


<!--=============================================
=            Policy area         =
=============================================-->

<div class="policy-section mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="policy-titles d-flex align-items-center flex-wrap">
                    <!--=======  single policy  =======-->

                    <div class="single-policy">
                        <span><img alt="" class="img-fluid"
                                   src="{{url_for('static', filename = 'images/icons/policy-icon1.png')}}"></span>
                        <p> FREE SHIPPING ON ORDERS OVER Rs.1000</p>
                    </div>

                    <!--=======  End of single policy  =======-->


                    <!--=======  single policy  =======-->

                    <div class="single-policy">
                        <span><img alt="" class="img-fluid"
                                   src="{{url_for('static', filename = 'images/icons/policy-icon2.png')}}"></span>
                        <p>30 -DAY RETURNS MONEY BACK</p>
                    </div>

                    <!--=======  End of single policy  =======-->

                    <!--=============================================
                    =            single policy         =
                    =============================================-->

                    <div class="single-policy">
                        <span><img alt="" class="img-fluid"
                                   src="{{url_for('static', filename = 'images/icons/policy-icon3.png')}}"></span>
                        <p> 24/7 SUPPORT</p>
                    </div>

                    <!--=====  End of single policy  ======-->

                </div>
            </div>
        </div>
    </div>
</div>

<!--=====  End of Policy area  ======-->

<!--=============================================
=            category slider         =
=============================================-->

<div class="slider category-slider mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  category slider section title  =======-->

                <div class="section-title">
                    <h3>categories</h3>
                </div>

                <!--=======  End of category slider section title  =======-->

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--=======  category container  =======-->

                <div class="category-slider-container">

                    {% for category in categories%}
                    <!--=======  single category  =======-->

                    <div class="single-category">

                        {% for picture in pictures %}
                        {% if(picture.picture_id == category.picture_id) %}
                        {% set url = 'images/categories/' + picture.picture_url %}

                        <div class="category-image">
                            <a href="/shop/{{category.slug}}" title={{ category.category_name }}>
                                <img alt="" class="img-fluid" src="{{url_for('static', filename=url)}}">
                            </a>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="category-title">
                            <h3>
                                <a href="/shop">{{ category.category_name }}</a>
                            </h3>
                        </div>
                    </div>

                    <!--=======  End of single category  =======-->
                    {% endfor %}
                </div>

                <!--=======  End of category container  =======-->

            </div>
        </div>
    </div>
</div>

<!--=====  End of category slider  ======-->

<!--=============================================
=            Multi sale slider         =
=============================================-->

<div class="slider multisale-slider mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  multisale  slider section title  =======-->

                <div class="section-title">
                    <h3>Intelli Supermart deal of the day</h3>
                </div>

                <!--=======  End of multisale slider section title  =======-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--=======  multi sale slider wrapper  =======-->

                <div class="multisale-slider-wrapper">
                    <!--=======  single multisale slider product  =======-->

                    {% for product in products %}
                    {% if (product.prod_subcategory_id == 23) %}
                    {% for picture in pictures %}
                    {% if(product.picture_id == picture.picture_id) %}
                    {% set url = 'images/products/Offers/' + picture.picture_url %}
                    <div class="gf-product multisale-slider-product">
                        <div class="image">
                            <a href="/product-details">
                                <span class="onsale">Sale!</span>
                                <img alt=""
                                     class="img-fluid"
                                     src="{{url_for('static', filename=url)}}">
                            </a>
                            <div class="product-hover-icons">
                                <a data-tooltip="Add to cart" href="#"> <span class="icon_cart_alt"></span></a>
                                <a data-tooltip="Add to wishlist" href="#"> <span class="icon_heart_alt"></span> </a>
                                <a data-tooltip="Compare" href="compare"> <span class="arrow_left-right_alt"></span>
                                </a>
                                <a data-target="#quick-view-modal-container" data-toggle="modal"
                                   data-tooltip="Quick view"
                                   href="#"> <span class="icon_search"></span> </a>
                            </div>
                        </div>
                        <div class="product-countdown" data-countdown="2020/01/08"></div>
                        <div class="product-content">
                            <div class="product-categories">
                                <a href="/shop">Deal</a>
                            </div>
                            <h3 class="product-title"><a href="/product-details">{{product.product_name}}</a>
                            </h3>

                        </div>

                    </div>

                    <!--=======  End of single multisale slider product  =======-->
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>

                <!--=======  End of multi sale slider wrapper  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of Multi sale slider  ======-->

<!--=============================================
=            Best seller slider         =
=============================================-->

<div class="slider best-seller-slider mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  category slider section title  =======-->

                <div class="section-title">
                    <h3>best seller</h3>
                </div>

                <!--=======  End of category slider section title  =======-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--=======  best seller slider container  =======-->

                <div class="best-seller-slider-container pt-15 pb-15">

                    {% for i in range(0, 4) %}
                    <!--=======  single best seller product  =======-->
                    <div class="col">
                        <div class="single-best-seller-item">
                            {% for j in range(0, 2) %}
                            {% set count=index.pop() %}
                            <div class="best-seller-sub-product">
                                <div class="row">
                                    <div class="col-lg-4 pl-0 pr-0">
                                        <div class="image">
                                            <a href="/product-details">
                                                {% set url = 'images/products/' + best_seller_products_categories[count].category_name +
                                                '/' + best_seller_products_images[count].picture_url %}
                                                <img alt=""
                                                     class="img-fluid"
                                                     src="{{url_for('static', filename=url)}}">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 pl-0 pr-0">
                                        <div class="product-content">
                                            <div class="product-categories">
                                                <a href="/shop">{{best_seller_products_categories[count].category_name}}</a>
                                            </div>

                                            <h3 class="product-title"><a href="/product-details">{{best_seller_products[count].product_name}}</a></h3>
                                            <div class="price-box">
                                                <span class="main-price">Rs {{best_seller_products[count].product_price}}</span>
                                                <span class="discounted-price">Rs 25</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor%}
                        </div>
                    </div>
                    <!--=======  End of single best seller product  =======-->
                    {% endfor%}
                </div>

                <!--=======  End of best seller slider container  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of Best seller slider  ======-->

<!--=============================================
=            Brand logo slider         =
=============================================-->

<div class="slider brand-logo-slider mb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  blog slider section title  =======-->

                <div class="section-title">
                    <h3>brand logos</h3>
                </div>

                <!--=======  End of blog slider section title  =======-->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!--=======  brand logo wrapper  =======-->

                <div class="brand-logo-wrapper pt-20 pb-20">

                    <!--=======  single-brand-logo  =======-->

                    <div class="col">
                        <div class="single-brand-logo">
                            <a href="#">
                                <img alt=""
                                     class="img-fluid"
                                     src="{{url_for('static', filename = 'images/brands/brand1.png')}}">
                            </a>
                        </div>
                    </div>

                    <!--=======  End of single-brand-logo  =======-->
                    <!--=======  single-brand-logo  =======-->

                    <div class="col">
                        <div class="single-brand-logo">
                            <a href="#">
                                <img alt="" class="img-fluid"
                                     src="{{url_for('static', filename = 'images/brands/brand2.png')}}">
                            </a>
                        </div>
                    </div>

                    <!--=======  End of single-brand-logo  =======-->
                    <!--=======  single-brand-logo  =======-->

                    <div class="col">
                        <div class="single-brand-logo">
                            <a href="#">
                                <img alt="" class="img-fluid"
                                     src="{{url_for('static', filename = 'images/brands/brand3.png')}}">
                            </a>
                        </div>
                    </div>

                    <!--=======  End of single-brand-logo  =======-->
                    <!--=======  single-brand-logo  =======-->

                    <div class="col">
                        <div class="single-brand-logo">
                            <a href="#">
                                <img alt="" class="img-fluid"
                                     src="{{url_for('static', filename = 'images/brands/brand4.png')}}">
                            </a>
                        </div>
                    </div>

                    <!--=======  End of single-brand-logo  =======-->
                    <!--=======  single-brand-logo  =======-->

                    <div class="col">
                        <div class="single-brand-logo">
                            <a href="#">
                                <img alt="" class="img-fluid"
                                     src="{{url_for('static', filename = 'images/brands/brand5.png')}}">
                            </a>
                        </div>
                    </div>

                    <!--=======  End of single-brand-logo  =======-->
                    <!--=======  single-brand-logo  =======-->

                    <div class="col">
                        <div class="single-brand-logo">
                            <a href="#">
                                <img alt="" class="img-fluid"
                                     src="{{url_for('static', filename = 'images/brands/brand6.png')}}">
                            </a>
                        </div>
                    </div>

                    <!--=======  End of single-brand-logo  =======-->
                </div>

                <!--=======  End of brand logo wrapper  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of Brand logo slider  ======-->


<!--=============================================
=            Footer         =
=============================================-->

<footer>
    <!--=======  footer navigation  =======-->

    <div class="footer-navigation-section pt-40 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-30">
                    <!--=======  single navigation section  =======-->

                    <div class="single-navigation-section">
                        <h3 class="nav-section-title">Intelli Supermart</h3>
                        <ul>
                            <li><a href="/about-us">About Us</a></li>
                            <li><a href="/careers">Careers</a></li>
                            <li><a href="/terms-n-conditions">Terms & Condition</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <!--=======  End of single navigation section  =======-->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-30">
                    <!--=======  single navigation section  =======-->

                    <div class="single-navigation-section">
                        <h3 class="nav-section-title">Help</h3>
                        <ul>
                            <li><a href="/faqs">FAQs</a></li>
                            <li><a href="/how-to-order">How to Order</a></li>
                            <li><a href="/how-to-pay">How to Pay</a></li>
                            <li><a href="/return-n-refunds">Return & Refunds</a></li>
                            <li><a href="/contact-us">Contact us</a></li>
                            <li><a href="/delivery">Delivery</a></li>
                        </ul>
                    </div>

                    <!--=======  End of single navigation section  =======-->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-30">
                    <!--=======  single navigation section  =======-->

                    <div class="single-navigation-section">
                        <h3 class="nav-section-title">Contact Information</h3>
                        <ul>
                            <li>
                                <span class="icon_mobile"></span> Phone<br>
                                <span class="text-lowercase">+92-323-0496310</span>
                            </li>
                            <li><span class="icon_mail_alt"></span> Email <br>
                                <span class="text-lowercase">bitf16a022@pucit.edu.pk</span>
                            </li>
                            <li><span class="icon_pin_alt"></span>Address <br>
                                <span class="text-capitalize">PUCIT, Anarkali Bazar, Lahore, Pakistan</span></li>
                        </ul>
                    </div>

                    <!--=======  End of single navigation section  =======-->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <!--=======  single navigation section  =======-->

                    <div>
                        <div class="single-navigation-section">
                            <h3 class="nav-section-title">Follow us</h3>
                        </div>
                        <ul>
                            <li>
                                <div class="social-links">
                                    <a class="facebook" data-tooltip="Facebook" href="http://www.facebook.com/"><i
                                            class="fa fa-facebook"></i></a>
                                    <a class="twitter" data-tooltip="Twitter" href="http://www.twitter.com/"><i
                                            class="fa fa-twitter"></i></a>
                                    <a class="instagram" data-tooltip="Instagram" href="http://www.instagram.com/"><i
                                            class="fa fa-instagram"></i></a>
                                    <a class="linkedin" data-tooltip="Linkedin" href="http://www.linkedin.com/"><i
                                            class="fa fa-linkedin"></i></a>
                                    <a class="rss" data-tooltip="RSS" href="http://www.rss.com/"><i
                                            class="fa fa-rss"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--=======  End of single navigation section  =======-->
                </div>
            </div>
        </div>
    </div>

    <!--=======  End of footer navigation  =======-->


    <!--=======  copyright section  =======-->

    <div class="copyright-section pt-35 pb-35">
        <div class="container">
            <div class="row align-items-md-center align-items-sm-center">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center text-md-left">
                    <!--=======  copyright text	  =======-->

                    <div class="copyright-segment">
                        <p class="copyright-text">&copy; 2019 <a href="/">Intelli Supermart</a>. All
                            Rights Reserved</p>
                    </div>

                    <!--=======  End of copyright text	  =======-->

                </div>
            </div>
        </div>
    </div>

    <!--=======  End of copyright section  =======-->
</footer>

<!--=====  End of Footer  ======-->

<!--=============================================
=            Quick view modal         =
=============================================-->

<div aria-hidden="true" class="modal fade quick-view-modal-container" id="quick-view-modal-container" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-xs-12">
                        <!-- product quickview image gallery -->
                        <div class="product-image-slider">
                            <!--Modal Tab Content Start-->
                            <div class="tab-content product-large-image-list" id="myTabContent">
                                <div aria-labelledby="single-slide-tab-1" class="tab-pane fade show active"
                                     id="single-slide1"
                                     role="tabpanel">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img alt=""
                                             class="img-fluid"
                                             src="{{url_for('static', filename = 'images/products/Fruits & Vegetables/11084.jpg')}}">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div aria-labelledby="single-slide-tab-2" class="tab-pane fade" id="single-slide2"
                                     role="tabpanel">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img alt=""
                                             class="img-fluid"
                                             src="assets/images/products/Fruits & Vegetables/lemon.jpg">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div aria-labelledby="single-slide-tab-3" class="tab-pane fade" id="single-slide3"
                                     role="tabpanel">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img alt=""
                                             class="img-fluid"
                                             src="assets/images/products/Fruits & Vegetables/bananas.jpg">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                                <div aria-labelledby="single-slide-tab-4" class="tab-pane fade" id="single-slide4"
                                     role="tabpanel">
                                    <!--Single Product Image Start-->
                                    <div class="single-product-img img-full">
                                        <img alt=""
                                             class="img-fluid"
                                             src="assets/images/products/Fruits & Vegetables/oranges.jpg">
                                    </div>
                                    <!--Single Product Image End-->
                                </div>
                            </div>
                            <!--Modal Content End-->
                            <!--Modal Tab Menu Start-->
                            <div class="product-small-image-list">
                                <div class="nav small-image-slider" role="tablist">
                                    <div class="single-small-image img-full">
                                        <a data-toggle="tab" href="#single-slide1" id="single-slide-tab-1"><img
                                                alt=""
                                                class="img-fluid"
                                                src="{{url_for('static', filename = 'images/products/Fruits & Vegetables/11084.jpg')}}"></a>
                                    </div>
                                    <div class="single-small-image img-full">
                                        <a data-toggle="tab" href="#single-slide2" id="single-slide-tab-2"><img
                                                alt=""
                                                class="img-fluid"
                                                src="assets/images/products/Fruits & Vegetables/lemon.jpg"></a>
                                    </div>
                                    <div class="single-small-image img-full">
                                        <a data-toggle="tab" href="#single-slide3" id="single-slide-tab-3"><img
                                                alt=""
                                                class="img-fluid"
                                                src="assets/images/products/Fruits & Vegetables/bananas.jpg"></a>
                                    </div>
                                    <div class="single-small-image img-full">
                                        <a data-toggle="tab" href="#single-slide4" id="single-slide-tab-4"><img
                                                alt=""
                                                src="assets/images/products/Fruits & Vegetables/oranges.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <!--Modal Tab Menu End-->
                        </div>
                        <!-- end of product quickview image gallery -->
                    </div>
                    <div class="col-lg-7 col-md-6 col-xs-12">
                        <!-- product quick view description -->
                        <div class="product-feature-details">
                            <h2 class="product-title mb-15">Potatoes</h2>

                            <h2 class="product-price mb-15">
                                <span class="main-price">Rs 100</span>
                                <span class="discounted-price">Rs 80</span>
                            </h2>

                            <p class="product-description mb-20">Potatoes are prepared in many ways:
                                skin-on or peeled, whole or cut up, with seasonings or without.
                                The only requirement involves cooking to swell the starch granules.
                                Most potato dishes are served hot but some are first cooked, then served cold, notably
                                potato salad and potato chips (crisps).
                            </p>


                            <div class="cart-buttons mb-20">
                                <div class="pro-qty mr-10">
                                    <input type="text" value="1">
                                </div>
                                <div class="add-to-cart-btn">
                                    <a href="#"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                </div>
                            </div>


                            <div class="social-share-buttons">
                                <h3>share this product</h3>
                                <ul>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end of product quick view description -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--=====  End of Quick view modal  ======-->


<!-- scroll to top  -->
<a class="scroll-top" href="#"></a>
<!-- end of scroll to top -->

<!-- JS
============================================ -->
<!-- jQuery JS -->
<script src="{{url_for('static', filename = 'js/vendor/jquery.min.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- SweetAlert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- Popper JS -->
<script src="{{url_for('static', filename = 'js/popper.min.js')}}"></script>

<!-- Bootstrap JS -->
<script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

<!-- Plugins JS -->
<script src="{{url_for('static', filename = 'js/plugins.js')}}"></script>

<!-- Main JS -->
<script src="{{url_for('static', filename = 'js/main.js')}}"></script>

<!-- Custom JS -->
<script src="{{url_for('static', filename = 'js/custom.js')}}"></script>

</body>

</html>