{% extends "layout.html" %}
{% block body %}
<!--=============================================
=            breadcrumb area         =
=============================================-->

<div class="breadcrumb-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-container">
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="active">Return and Refunds</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->


<!--=============================================
=            Careers page content         =
=============================================-->
<h3 class="myStyle">Return and Refunds</h3>
<br>
<p class="myStyle2">Contact Intelli Supermart at our helpline (+92) 323 0496310 or chat online with our customer support representatives available to facilitate you.</p>
<br><br>



<!--=====  End of Careers page content  ======-->

{% endblock %}