{% extends "layout.html" %}
{% block body %}

<!--=============================================
=            breadcrumb area         =
=============================================-->

<div class="breadcrumb-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-container">
                    <ul>
                        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li class="active">Wishlist</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->

<!--=============================================
=            Wishlist page content         =
=============================================-->


<div class="page-section section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--=======  Wishlist table  =======-->
                <div class="cart-table table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="pro-thumbnail">Image</th>
                            <th class="pro-title">Product</th>
                            <th class="pro-price">Price</th>
                            <th class="pro-remove">Add to Cart</th>
                            <th class="pro-remove">Remove</th>
                        </tr>
                        </thead>
                        {% for product in products %}
                        {% for subcat in subcategories %}
                        {% if product.prod_subcategory_id == subcat.subcategory_id %}
                        {% for cat in categories %}
                        {% if subcat.category_id == cat.category_id %}
                        {% for picture in pictures %}
                        {% if(product.picture_id == picture.picture_id) %}
                        {% set url = 'images/products/' + cat.category_name+ '/' + picture.picture_url %}
                        <tbody>
                        <tr>
                            <td class="pro-thumbnail"><a href="#"><img
                                    alt="Product"
                                    class="img-fluid" src="{{url_for('static', filename=url)}}"></a></td>
                            <td class="pro-title"><a href="#">{{product.product_name}} {{product.product_quantity}}</a></td>
                            <td class="pro-price"><span>Rs {{product.product_price}}</span></td>
                            <td class="pro-update"><a class="addToWishlistButton" name="{{product.product_id}}">
                                <i class="fa fa-shopping-cart"></i></a></td>
                            <td class="pro-remove"><a class="deleteFromWishlistButton" name="{{product.product_id}}">
                                <i class="fa fa-trash-o"></i></a></td>
                        </tr>
                        </tbody>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </table>
                </div>

                <!--=======  End of Wishlist table  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of Wishlist page content  ======-->
{% endblock %}